<a href="https://colab.research.google.com/github/JacoboGGLeon/abd_2020_1/blob/master/Pr%C3%A1ctica_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Práctica 2
## Auditoria de una Basede Datos

### Material

* [PostgreSQL Sample Database
](http://www.postgresqltutorial.com/postgresql-sample-database/)

* [Load PostgreSQL Sample Database
](http://www.postgresqltutorial.com/load-postgresql-sample-database/)

* [PostgreSQL Restore Database
](http://www.postgresqltutorial.com/postgresql-restore-database/)

* [Getting 'Connection refused' after installing PostgreSQL and PG Admin 4](https://dba.stackexchange.com/questions/165290/getting-connection-refused-after-installing-postgresql-and-pg-admin-4)

* [How to unzip a zip file from the Terminal?](https://askubuntu.com/questions/86849/how-to-unzip-a-zip-file-from-the-terminal)

* [What command do I need to unzip/extract a .tar.gz file?](https://askubuntu.com/questions/25347/what-command-do-i-need-to-unzip-extract-a-tar-gz-file)

* [Getting error: Peer authentication failed for user “postgres”, when trying to get pgsql working with rails](https://stackoverflow.com/questions/18664074/getting-error-peer-authentication-failed-for-user-postgres-when-trying-to-ge)

*

`ssh jacoboggleon@13.68.229.121`

`sudo apt-get update`

`sudo apt-get install unzip`

Agregar el puerto 5432

`wget http://www.postgresqltutorial.com/wp-content/uploads/2019/05/dvdrental.zip`

`sudo unzip dvdrental.zip`

`sudo -u postgres psql`

`CREATE DATABASE dvdrental;`

`\q`

`sudo -u postgres pg_restore --dbname=dvdrental --verbose dvdrental.tar`

`sudo -u postgres psql`

`\l`

`\c dvdrental`

`\dt`

`select * from actor;`

## Replicación

`sudo nano /etc/postgresql/11/main/pg_hba.conf`

---

`# Database administrative login by Unix domain socket`

`local   all             postgres                                md5`

---

`# IPv4 local connections:`

`host    all             all             0.0.0.0/0            md5`

---

`sudo service postgresql restart`

`sudo nano /etc/postgresql/11/main/postgresql.conf`

---

`# Add settings for extensions here``

`listen_addresses = '*'`

### Master

`sudo nano /etc/postgresql/11/main/postgresql.conf`

`# WRITE-AHEAD LOG`

`wal_level = logical`

---

`sudo service postgresql restart`

Crear una base de datos `log_rep_db`

`CREATE DATABASE log_rep_db;`

`\l`

`\c log_rep_db`

`CREATE TABLE family (mid int,mname text);`

`CREATE ROLE log_rep_user WITH REPLICATION LOGIN PASSWORD 'log_rep_user';`

`GRANT ALL PRIVILEGES ON DATABASE log_rep_db TO log_rep_user;`

`GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA public TO log_rep_user;`

`CREATE PUBLICATION mypub1;`

`ALTER PUBLICATION mypub1 ADD TABLE family;`

`CREATE SUBSCRIPTION mysub1 CONNECTION 'host=goku port=5432 password=log_rep_user user=log_rep_user dbname=log_rep_db' PUBLICATION mypub1;`

`sudo -u postgres psql`

`\c log_rep_db`

`INSERT INTO family (mid,mname) VALUES (1,'Vito Corleone');`

`INSERT INTO family (mid,mname) VALUES (2,'Michael Corleone');`

`select * from family;`

`INSERT INTO family (mid,mname) VALUES (3,'Walter White');`

## Slave

`sudo -u postgres psql`

`CREATE DATABASE log_rep_db;`

`\c log_rep_db`

`CREATE TABLE family (mid int,mname text);`

`\c log_rep_db`

`CREATE SUBSCRIPTION mysub1 CONNECTION 'host=52.168.89.238 port=5432 password=log_rep_user user=log_rep_user dbname=log_rep_db' PUBLICATION mypub1;`

`select * from family;`